@charset "utf-8";
/* CSS Document */
*{margin:0; padding: 0;user-select: none;}
html{font-size: 10px ;
      height:100%;}
body{ 
    font-size:2rem;
    background-image:url(img/wall.png);
    overflow:hidden;
}
#header{
            background-color:rgba(0,0,0,0.70);
			color:rgba(255,253,253,1.00);
            height: 10%;
            line-height:8rem;
            text-align:center;
            font-size: 4rem;
        }
#view{
		margin-left:5rem;
        margin-right:5rem;
        float:center;
		}
	

#table{
        width:100%;
        height: auto;
        align-self: center;
        
}
#board{
    margin:0 auto;
    text-align:center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-image:url(img/wood.png);
    }
#canvas{margin:0 auto;
        align-self: center;
}
#cbox{ 
    width:80rem;
    height:60rem;
    background-color: white;
    margin:2rem auto;
    margin-left: 3rem;
    margin-right: 3rem;
    align-self: center;
    text-align:center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    float: left;
    
}
#color{
    float: right;
    margin:2rem auto;
    margin-left: 1rem;
    margin-right: 1rem;
    height:60rem;
    width: 5rem;
}

#range-wrap{
    position: fixed;
    top: 70rem;
    width:30rem;
    height:3rem;
    margin:0rem;
}
#range-wrap input{
	transform: rotate(0deg);
	width: 29rem;
	height: 2rem;
	margin: 0;
	transform-origin: 75px 75px;
	border-radius: 15px;
	-webkit-appearance: none;
	outline: none;
	position: relative;
	background-color: white;
}
#range-wrap input::after
{
    display: block;
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border: right 30rem solid #00CCFF;
    border-left-width:0;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius:15px;
    z-index: 0;
}
#range-wrap input[type=range]::-webkit-slider-thumb,#range-wrap input[type=range]::-moz-range-thumb
{
    -webkit-appearance:none;
    -moz-appearance: none;
}
#range-wrap input[type=range]::-webkit-slider-runnable-track,#range-wrap input[type=range]::-moz-range-track 
{   height: 1rem;
    border-radius: 10px;
    box-shadow: none;
}
#range-wrap input[type=range]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    margin-top: -0.1rem;
    background:white;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.8rem #00CCFF;
    position: relative;
    z-index: 999;
}
    

.tools{
    width:10rem;
    display:block;
    justify-content: center;
    text-align: center;
    top:10rem;
   float: left;
    
}

.tools button{border-radius: 50%;
    width: 50px;
    height: 50px; 
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #eee;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 0.5rem;
    text-align: center;
    color:#ccc;
    line-height: 50px;
    box-shadow:0 0 8px rgba(0,0,0,0.1); 
    transition: 0.3s;}

.tools button.active,.tools button:active{box-shadow: 0 0 15px #00CCFF; color:#00CCFF;}
.tools button i{font-size: 24px;}

.color-group{
    position:fixed;
    width: 30px;
    /*left: 30px;*/
    top: 40rem;;
    transform: translate(0,-150px)
}
.color-group ul{list-style: none;}
.color-group ul li{width: 30px;height: 30px;margin: 10px 0;border-radius: 50%;box-sizing: border-box;border:3px solid white;box-shadow: 0 0 8px rgba(0,0,0,0.2);cursor: pointer;transition: 0.3s;}
.color-group ul li.active{box-shadow:0 0 15px #00CCFF;}

@media screen and (max-width: 768px) {
    .tools{bottom:auto;top: auto;}
    .tools button{width: 35px;height: 35px;line-height: 35px;margin-bottom: 15px;box-shadow:0 0 5px rgba(0,0,0,0.1);}
    .tools button.active,.tools button:active{box-shadow: 0 0 5px #00CCFF;}
    .tools button i{font-size: 18px;}
    .tools #swatches{display: none}
    .color-group{/*left: 0;top:auto;bottom: 20px;display: flex;width:100%;*/justify-content: center;text-align: center;transform: translate(0,0)}
    .color-group ul li{display: inline-block;margin:0 5px;}
    .color-group ul li.active{box-shadow:0 0 10px #00CCFF;}
    #range-wrap{right:auto;left: 20px;}
}

#img-input{
    position: relative;
    top: 0rem;
    width:30rem;
    height:auto;
    margin:1rem;
    display:block;
    float: initial;
}
.preview_box img {
    height: 150px;
  }
#text-input{
    position: relative;
    top: 0px;
    width:30rem;
    height:auto;
    margin:1rem;
    display:block;
    float: initial;
}

#word{
    width:30rem;
    height:5rem;
    margin:0rem;
    align-self: center;
    align-items: center;
    align-content: flex-start;
    font: 2rem sans-serif;
}
#commit{
    width: 5rem;
    height: 2rem;
    align-self: center;
    margin: 0.5rem;
    float: center;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
}
#fsize{
    width: 5rem;
    height: 2rem;
    align-self: center;
    margin: 0.5rem;
    float: center;
    padding: 1px;
    padding-left:1px;
    padding-right: 1px;
}